@model MVC.Models.Company.IndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form class="d-flex mt-3" role="search" action="/Company/Index">
    @Html.HiddenFor(m => m.Pager.ItemsPerPage)
    @Html.TextBoxFor(m => m.Filter.Name, new { placeholder = "Search by  Name ", @class = "form-control me-2" })
    <button class="btn btn-outline-success" type="submit" value="Filter">Search</button>
</form>

<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Description
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CompanyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId })
            </td>
        </tr>
    }

</table>

<div class="row pager">
    <div class="col-3">
        @{
            Html.RenderPartial("/Views/Partial/PagerPartial.cshtml", Model.Pager);
        }
    </div>
</div>